/* 
    Document   : contact
    Created on : 26-oct.-2012, 14:37:30
    Author     : Cédric Rojo
    Description:
        Purpose of the stylesheet follows.
*/

root { 
    display: block;
}

.error_message {
    background-image: url('/web/20181106175844im_/http://renovationconstruxionlepage.com/static/images/err.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    list-style-type: none;
    color: #C00 !important;
    background-color: #F3CAC7;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 6px 0 0;
    padding: 4px 10px 4px 30px;
    font: 12px Arial, Helvetica, Verdana, Geneva, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}

.success_message {
        background-image: url('/web/20181106175844im_/http://renovationconstruxionlepage.com/static/images/success.png');
    background-repeat: no-repeat;
    background-position: 5px center;
    list-style-type: none;
    color: green !important;
    background-color: #c5f6c4;
    display: inline-block;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 6px 0 0;
    padding: 4px 10px 4px 30px;
    font: 12px Arial, Helvetica, Verdana, Geneva, sans-serif;
    margin-bottom: 10px;
    text-align: center;
}


/*
     FILE ARCHIVED ON 17:58:44 Nov 06, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:45:00 Sep 17, 2020.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  exclusion.robots: 0.194
  CDXLines.iter: 26.508 (3)
  captures_list: 145.618
  esindex: 0.018
  exclusion.robots.policy: 0.182
  LoadShardBlock: 107.274 (3)
  PetaboxLoader3.resolve: 99.699
  PetaboxLoader3.datanode: 132.479 (4)
  RedisCDXSource: 7.586
  load_resource: 313.135
*/